.App{
    background-color: black;   
}

.calculator{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "dis dis dis dis"
    "AC C division times"
    "seven eight nine minus"
    "four five six plus"
    "one two three equal"
    "zero zero dot equal";
}

.padButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background-color: #80ED99;
    color: black;
    border: 1px solid #22577a;
    cursor: pointer;
    font-size: 20px;
}

.dis{
    grid-area: dis;
    background-color: black;
    text-align: right;
    font-size: 20px;
}

#zero{
    grid-area: zero;
}

#equals{
    grid-area: equal;
    background-color: #22577A;
}

.operation{
    background-color: #C7F9CC;
}

.control{
    background-color: #38A3A5;
}

.total{
    color: azure;
    font-size: 25px;
}

.displayExp{
    text-align: right;
    width: 100%;
    background-color: black;
    border: none;
    color: #38A3A5;
}